@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --app-color-1: #fe2c55;
    --color-black-0: #000;
    --text-color: #161823;
    --color-white-0: #fff;

    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --font-family: 'IBM Plex Sans', sans-serif;
}

/* Scrollbar CSS */

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    font-family: var(--font-family);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

button,
input {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* Custom tippy tooltip */
.tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 2;
    background-color: rgba(84, 84, 84, 0.92);
}

.tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
}

.tippy-content {
    padding: 8px 9px;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
}
