/* Menu wrapper */
.menuList {
    width: 224px;
    background-color: var(--background-nav);
    transition: background-color 0.4s ease-in;
}

.menuList.menuItem {
    margin-left: 0;
}

.menuPopper {
    padding-bottom: 8px;
}

.menuBody {
    overflow-y: auto;
    background-color: var(--background-nav);
    transition: background-color 0.4s ease-in;
}

/* Menu items */
.menuItem {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 11px 16px;
    font-weight: 600;
    color: var(--color);
    transition: color 0.4s ease-in;
}

.menuItem:hover {
    background-color: var(--background-hover);
}

/* Header */
.header {
    position: relative;
    height: 50px;
    flex-shrink: 0;
    margin-top: -8px;
}

.backBtn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    color: var(--color);
}

.headerTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    background-color: transparent;
}
