.search,
.searchResult {
    width: 361px;
}

/* 
--search-border-radius: 92px;
--search-height: 46px;
--search-top-spacer: 9px;
--search-button-width: 52px;
 */

.search {
    position: relative;
    height: 46px;
    padding-left: 16px;
    display: flex;
    background-color: var(--background-input);
    border-radius: 92px;
    border: 1.5px solid transparent;
}

.search::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 52px;
    width: 0.7px;
    height: calc(46px - 9px * 2);
    background-color: var(--scroll);
}

.search:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
}

.search input {
    padding-right: 40px;
    flex: 1;
    height: 100%;
    color: var(--color);
    font-size: 16px;
    caret-color: var(--app-color-1);
    background-color: transparent;
}

.search input:not(:placeholder-shown) ~ .searchBtn {
    color: var(--text-color);
}

.searchTitle {
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 600;
    color: var(--label-color);
}

.clear,
.loading {
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--label-color);
    background-color: transparent;
}

.searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 18px;
    background-color: transparent;
    color: var(--label-color);
}

.searchBtn:hover {
    cursor: pointer;
    background-color: var(--background-hover);
}

.searchBtn:active {
    background-color: rgba(22, 24, 35, 0.06);
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
