.toggle {
    right: 40px;
    top: 80px;
    position: fixed;
    z-index: 10;
    width: 50px;
    display: flex;
    padding: 5px;
    background-color: #000000;
    border-radius: 1000px;
    cursor: pointer;
    box-shadow: 0px 0px 8px -3px #000000;
    transition: background-color 0.3s ease-in;
}

.toggle .toggleInner {
    width: 20px;
    height: 15px;
    background-color: white;
    border-radius: 1000px;
    transition: margin-left 0.3s ease-in, background-color 0.3s ease-in;
}

.toggle .toggleInner.toggleActive {
    margin-left: 20px;
}

.darkMode .toggle {
    background-color: white;
}
.darkMode .toggle .toggleInner {
    background-color: black;
}

.darkMode {
    color: white;
    background-color: #000000;
}
