body {
    transition: color 0.4s ease-in, background-color 0.4s ease-in;
}

.toggle {
    right: 40px;
    right: 10px;
    top: 146px;
    position: absolute;
    z-index: 10;
    width: 45px;
    display: flex;
    padding: 5px;
    background-color: #e1e1e3;
    border-radius: 1000px;
    cursor: pointer;
    transition: background-color 0.4s ease-in;
}

.toggle .toggleInner {
    width: 18px;
    height: 15px;
    background-color: white;
    border-radius: 1000px;
    transition: margin-left 0.4s ease-in, background-color 0.4s ease-in;
}

.toggle .toggleInner.toggleActive {
    margin-left: 16px;
}

.darkMode .toggle {
    background-color: #0be09b;
}
.darkMode .toggle .toggleInner {
    background-color: white;
}

.darkMode {
    color: white;
    background-color: #000000;
    transition: color 0.4s ease-in, background-color 0.4s ease-in;
}
