.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 60px;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    min-height: 1000px;
    display: flex;
}
